.box {
    background-color: darkred;
    color: gold;
    width: 150px;
    height: 150px;
    margin: 16px;
    text-align: center;
    font-size: 2rem;
  }

.box-of-boxes {
    display: flex;
  }


@media only screen and (min-width: 1100px){
    .box-one {
        width: 200px;
    }
    .box-three {
        width: 400px;
    }
}

@media only screen and (max-width: 720px){
    .box-two {
        background-color: blue;
    }
    .box-three {
        background-color: green;
    }
}

@media only screen and (min-width: 720px) and (max-width: 1100px){
    .box-four {
        width: 100px;
    }
    .box {
        height: 300px;
    }
}